<p>We will put omniauth authentication data here (if present)</p>

<% if @user %>
  <p>Welcome <%= @user.name -%>! We know who you are thanks to Omniauth!</p>
  <p>You were authenticated by  <%= @user.provider %></p>

  <%= form_tag logout_path do %>
    <%= submit_tag 'logout' %>
  <% end %>
<% else %>
  <p>No authentication information is available.</p>
  <p>Try <%= link_to 'Signing in with the developer strategy', '/auth/developer'%>.</p>
  <p>Try <%= link_to 'Signing in with the GitHub strategy', '/auth/github'%>.</p>
<% end %>
